* {
  box-sizing: border-box;
  font-family: 'helvetica neue', 'Apple SD Gothic Neo', Roboto, Helvetica, Arial, sans-serif;
}

p, span {
  font-size: 14px;
}

.form {
  width: 350px;
  height: 390px;
  display: flex;
  margin: 75px, auto;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  background-color: #fff;
  border: 1px solid #DBDBDB;
}

.password-form {
  width: 350px;
  height: 520px;
  display: flex;
  margin: 25px, auto;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  background-color: #fff;
  border: 1px solid #DBDBDB;
}

img.form-logo {
  align-self: center;
  width: 175px;
  margin: 35px 0;
}
.form-input {
  width: 270px;
  height: 40px;
  margin: 3px auto;
  padding: 0 10px;
  display: block;
  background-color: #fafafa;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  font-size: 14px;
}
.form-input::placeholder {
  font-size: 12px;
  color: #8e8e8e;    
}
.form-input:focus {
  border: 1px solid #8a8a8a;
  outline: none;
}

.form-content-title {
  width: 270px;
  height: 40px;
  margin: 30px 3px 3px auto;
  padding: 0 10px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.form-content-subtitle {
  width: 270px;
  height: 40px;
  margin: 13px auto;
  padding: 0 10px;
  display: block;
  font-size: 14px;
  color: #8e8e8e;    
}

.form-error {
  width: 270px;
  height: 40px;
  margin: 13px auto;
  padding: 0 10px;
  display: block;
  color: red;
  font-size: 14px;
}

.form-btn {
  width: 268px;
  height: 30px;
  margin: 13px auto;
  border: solid 1px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
}

.form-btn-bottom {
  margin-top: auto; 
}

.form-btn-blue {
  background-color: #0095f6;
  border: none;
  border-radius: 3px;
  color: white;
}

.form-btn-red {
  background-color: #f62900;
  border: none;
  border-radius: 3px;
  color: white;
}

.form-btn:disabled {
  background-color: #B9DFFC;
}

.form-btn:disabled:hover {
  cursor: default;
}

.form-btn:enabled:hover {
  cursor: pointer;
}

.form-btn:focus {
  outline: none;
}

.link {
  cursor: default;
  text-align: center;
}

.link-noline {
  text-decoration: none;
}

.form-password {
  color : #00366B;
  align-self: center;
  font-size: 12px;
  margin-top: 70px;
}



.form-password:hover {
  cursor: pointer;
}

.signup { 
  color : #00366B;
  align-self: center;
}

.center {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex: wrap;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}

.center-item {
  width: 350px;
  height: 75px;
  padding: 25px;
  margin: 25px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #DBDBDB;
}